/*VARIABLES*/
/*TYPOGRAPHIE*/
/* line 21, ../../sass/main.scss */
body {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

/* line 27, ../../sass/main.scss */
header p {
  display: block;
  font-size: 12px;
  margin-left: 5px;
  font-weight: 400;
  padding-top: 6px;
}

/* line 35, ../../sass/main.scss */
li {
  display: inline-block;
  margin: 10px 10px 0 10px;
  font-weight: 200;
  font-size: 11px;
  color: #c7c5c1;
}

/* line 43, ../../sass/main.scss */
h1 {
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  color: #c7c5c1;
  margin-top: 15px;
}

/* line 51, ../../sass/main.scss */
.leftbar p {
  font-weight: 200;
  font-size: 11px;
  color: #afaca6;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* line 61, ../../sass/main.scss */
.leftbar li {
  color: #e6e6e6;
  margin-left: 20px;
  cursor: pointer;
}

/* line 67, ../../sass/main.scss */
.grey {
  display: inline;
  color: #7e7a71;
}

/* line 72, ../../sass/main.scss */
footer div {
  font-weight: 200;
  font-size: 11px;
  color: #afaca6;
  line-height: 20px;
}

/*LAYOUT*/
/* line 81, ../../sass/main.scss */
body {
  width: 100vw;
  height: 100vh;
}

/* line 86, ../../sass/main.scss */
.screen {
  width: 100%;
  height: 100%;
  background-color: #CCC;
}

/* line 92, ../../sass/main.scss */
header {
  width: 100%;
  height: 3%;
  background-image: linear-gradient(to bottom, #7e7a71, #484641);
}

/* line 98, ../../sass/main.scss */
.content {
  width: 100%;
  height: 97%;
}

/* line 103, ../../sass/main.scss */
.taskbar {
  width: 3.5%;
  height: 100%;
  background-color: #721d1e;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  float: left;
  box-sizing: border-box;
}

/* line 112, ../../sass/main.scss */
.leftbar {
  width: 12%;
  height: 100%;
  background-color: #47484b;
  float: left;
}

/* line 119, ../../sass/main.scss */
.brackets {
  width: 84.5%;
  height: 100%;
  float: left;
}

/* line 125, ../../sass/main.scss */
nav {
  width: 100%;
  height: 10%;
  background-color: #222222;
}

/* line 131, ../../sass/main.scss */
.editor {
  width: 100%;
  height: 90%;
}

/* line 136, ../../sass/main.scss */
footer {
  width: 100%;
  height: 4%;
  background-color: #1c1c1e;
}

/* line 142, ../../sass/main.scss */
footer div {
  height: 100%;
  float: right;
  padding: 0 20px;
  border-left: 1px solid #3d3f41;
}

/*IMAGES*/
/* line 151, ../../sass/main.scss */
.icon {
  height: 5%;
  margin-top: 5px;
  margin-left: 2px;
}

/* line 157, ../../sass/main.scss */
.bin {
  position: absolute;
  bottom: 0;
  left: 0;
}

/*CODE*/
/* line 165, ../../sass/main.scss */
.code {
  width: 100%;
  height: 96%;
  background-color: #3d3f41;
  font-family: "Source Code Pro";
  overflow-y: scroll;
}

/* line 173, ../../sass/main.scss */
.section {
  padding-top: 20px;
  padding-left: 20px;
}

/* line 178, ../../sass/main.scss */
.html {
  display: block;
}

/* line 182, ../../sass/main.scss */
.js {
  display: none;
}

/* line 186, ../../sass/main.scss */
.scss {
  display: none;
}

/* line 190, ../../sass/main.scss */
.json {
  display: none;
}

/* line 194, ../../sass/main.scss */
.code p {
  display: inline;
  font-weight: 200;
}

/* line 199, ../../sass/main.scss */
div .grey {
  margin-right: 40px;
}

/* line 203, ../../sass/main.scss */
.blue {
  color: #64b9b9;
}

/* line 207, ../../sass/main.scss */
.green {
  color: #9ec14e;
}

/* line 211, ../../sass/main.scss */
.orange {
  color: #d98768;
}

/* line 215, ../../sass/main.scss */
.what {
  color: #C2BEA2;
}

/* line 219, ../../sass/main.scss */
.one {
  padding-left: 20px;
}

/* line 223, ../../sass/main.scss */
.two {
  padding-left: 40px;
}

/* line 238, ../../sass/main.scss */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

/* line 243, ../../sass/main.scss */
::-webkit-scrollbar-thumb {
  background: slategray;
}

/* line 247, ../../sass/main.scss */
::-webkit-scrollbar-track {
  background: #b8c0c8;
}

/* line 252, ../../sass/main.scss */
body {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}
