/*-------EXPERIENCES--------*/

.dev-web_apprenti {
    $où: "Wild Code School, La Loupe";
    $quand: 2015;
    .projets {
        $ERDF: "Réalisation d'un projet pour ERDF décrivant de façon interactive le chemin de l'éléctricité";
        $Hackathon: "Participation au 'Hackathon de l'Elysée' et réalisation d'un prototype d'application";
    }
}

#technicien-reception {
    $où: "Laboratoire Biomnis, Ivry sur Seine";
    $quand: "2012 - 2013";
    $quoi: "Reception des prélèvements et saisie des informations des malades.";
}

compteur-ratp {
    $où: "Paris";
    $quand: "Missions ponctuelles depuis 2012";
    $quoi: "Comptage des voyageurs montant ou descendant des trams ou RER.";
}